body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(211, 211, 211);
}

.content{
    text-align: center;

}

#btn {
background-color: rgb(202, 255, 255)
}